vs2017
vs2019
Reports/report
Reports/details_Complex_test_test.html
Reports/details_General_test_test.html
Reports/details_Metal_test_test.html
Reports/details_Implementation_test_test.html
Reports/details_OpenCL_test_test.html
Reports/example.json
Reports/mainPage.html
Reports/report_building.log
