@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("opentype"),
        url("../fonts/OpenSans-Bold.ttf") format("opentype"),
        url("../fonts/OpenSans-Regular.ttf") format("opentype"),
        url("../fonts/OpenSans-Regular.ttf") format("opentype");
 }

body {
  background-color: rgba(242, 242, 242, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

table.baseTable {
  border-collapse: collapse;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  text-align: center;
  margin-left: 5%;
  width: 90%;
}

table.headerTable {
  border-collapse: collapse;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  text-align: center;
  margin-left: 5%;
  width: 90%;
}

.header {
  font-family: 'Open Sans';
  text-align: center;
  font-size: 42px;
  color: #881f1f;
}


.gpu-header {
  font-family: 'AMDRTG';
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  text-align: left;
  margin-left: 3%;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: #7d77881a
}

.table-first-column {
  text-align: left;
  padding-left: 14px;
}

a {
  color: blue;
}